<div class="col-12 navbar">
    <div class="col-6 logo-box">
        <img class="logo" src="assets/logo.png">
        <h2 class="nome-logo-slogan gfont1"> Ollivanders - fabbrica di bacchette di qualità superiore dal 382 a.C</h2>
    </div>
    <div class="btn-navbar">
        <button class="storia-btn">
            Storia
        </button>
        <button class="storia-btn">
            Bacchette
        </button>
        <button class="storia-btn">
            Dove ci troviamo
        </button>
        <button class="storia-btn">
            Volti Famosi
        </button>

    </div>
</div>
