<div class="col-12 navbar">
    <div class="col-6 logo-box">
        <img class="logo" src="assets/logo.png">
        <div class="insegna">
            <p class="nome-logo-slogan1 gfont1"> Ollivanders </p>
            <p class="nome-logo-slogan2 gfont1"> fabbrica di bacchette di qualità superiore dal 382 a.C</p>
        </div>
    </div>
    <div class="btn-navbar">
        <button class="storia-btn">
            Storia
        </button>
        <button class="storia-btn">
            Bacchette
        </button>
        <button class="storia-btn">
            Dove ci troviamo
        </button>
        <button class="storia-btn">
            Volti Famosi
        </button>

    </div>
</div>
<div>
    <img src="assets/xx.jpg" class="img-negozio">
</div>