*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: linear-gradient(to top, #040720, #0e0218, #0f000f, #0b0005, #000000);
    display: flex;
    flex-direction: column;
    border: 5px solid red;
    height: 100vh;
}



.gfont1{
    font-family: 'Dancing Script', cursive;
}
